<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <form (ngSubmit)="bookFlight(this.tickets)">
            <div class="form-group">
              <div class="form-checkbox">
                <label for="roundtrip">
                  <input type="radio" id="roundtrip" name="type" value="roundtrip" [(ngModel)]="bookTicket.type" (click)="tripTypeSelector('roundtrip')">
                  <span></span>Roundtrip
                </label>
                <label for="one-way">
                  <input type="radio" id="one-way" name="type" values="oneway" [(ngModel)]="bookTicket.type" (click)="tripTypeSelector('oneway')">
                  <span></span>One way
                </label>
                <!-- <label for="multi-city">
                  <input type="radio" id="multi-city" name="type" [(ngModel)]="tickets.type">
                  <span></span>Multi-City
                </label> -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Flying from</span>
                  <input class="form-control" type="text" placeholder="City or airport" name="from" [(ngModel)]="bookTicket.from">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Flyning to</span>
                  <input class="form-control" type="text" placeholder="City or airport" name="to" [(ngModel)]="bookTicket.to">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <span class="form-label">Departing</span>
                  <input class="form-control" type="date" required name="bookingDate" [(ngModel)]="bookTicket.bookingDate">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" *ngIf="this.roundTrip">
                  <span class="form-label">Returning</span>
                  <input class="form-control" type="date" required name="departureDate" [(ngModel)]="bookTicket.departureDate">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <span class="form-label">Adults (18+)</span>
                  <select class="form-control" name="numSeats" [(ngModel)]="bookTicket.numSeats">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
              <div class="col-md-2">
                <!-- <div class="form-group">
                  <span class="form-label">Children (0-17)</span>
                  <select class="form-control">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                  </select>
                  <span class="select-arrow"></span>
                </div> -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <span class="form-label">Travel class</span>
                  <select class="form-control" name="travelClass" [(ngModel)]=bookTicket.travelClass>
                    <option>Economy class</option>
                    <option>Business class</option>
                    <option>First class</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-btn">
                  <input class="submit-btn" type="submit"/>Show flights
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

