<router-outlet>  
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <div style="text-align:center">
    <nav class="navbar navbar-default" style="background-color: darkslateblue;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Air-Way2Go</a>
          </div>
          <ul class="nav navbar-nav">
            <li ><a href="home">Home</a></li>
            <li ><a href="search">Search</a></li>
            <li ><a href="bookings">My Bookings</a></li>
            <li ><a href="promotions">Promo - Just for You</a></li>
          </ul>
        </div>
      </nav>
  </div>
</router-outlet>
